In [1]:
def times(a,b):
    return a*b

In [2]:
times

In [3]:
times(10,10)

100

In [4]:
mytimes=times
mytimes(10,10)

100

In [8]:
x=1
def func(a):
    return a + x
func(1)

2

In [9]:
def func2(a):
    x=2
    return a+x
func2(1)

3

In [10]:
x

1

In [11]:
def func3(a):
    global x
    return a + x
func3(1)

2

In [12]:
x

1

In [20]:
def myfunc(a,b=10,c):# 한번 키워드 쓰면 그 뒤에도 키워드 써야함
    return 
myfunc(10,30)

SyntaxError: non-default argument follows default argument (<ipython-input-20-0e9742360ebd>, line 1)

In [21]:
times([10,2],3)

[10, 2, 10, 2, 10, 2]

In [29]:
def connectURL(server, port):
    strv = 'http://' + server + ':' + str(port)
    return strv

In [23]:
connectURL('test.com','8080')

'http://test.com:8080'

In [30]:
connectURL(port=8080,server='test.com')

'http://test.com:8080'

In [31]:
score = int(input('Input score : '))

Input score : 99

In [32]:
if 90 <= score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else :
    grade = 'F'

In [33]:
print('Grade is '+grade)

Grade is A

In [34]:
value = 5
while value > 0:
    print(value)
    value -= 1

5
4
3
2
1

In [35]:
l = ['Apple',100,15.23]
for i in l:
    print(i , type(i))

Apple <class 'str'>
100 <class 'int'>
15.23 <class 'float'>

In [36]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
for i in range(len(l)):
    print(l[i])

Apple
100
15.23

In [39]:
for i, val in enumerate(l):
    print(i, val)

0 Apple
1 100
2 15.23

In [40]:
m = ['a','b','c']
for name, val in zip(m,l):
    list(zip(m,l))

In [41]:
for i in range(1,11,1):
    if i % 2 == 0:
        continue
    print('Item : {0}'.format(i))
else :
    print('Exit without break')
print('Always this is printed')

Item : 1
Item : 3
Item : 5
Item : 7
Item : 9
Exit without break
Always this is printed

In [42]:
for i in range(1,11,1):
    if i > 5 :
        break
    print('Item : {0}'.format(i))
else :
    print('Exit without break')
print('Always this is printed')

Item : 1
Item : 2
Item : 3
Item : 4
Item : 5
Always this is printed

In [43]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [44]:
a_list = [number for number in range(1,6) if number % 2 == 1]

In [45]:
a_list

[1, 3, 5]

In [46]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [47]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [49]:
a_set = {number for number in range(1,6) if number % 3 ==1}
a_set

{1, 4}

In [52]:
x=(1,2,3,4,5);y=('a','b','a','a','a')
z=[]
[v1 for v1,v2 in zip(x,y) if v2 == 'a']

[1, 3, 4, 5]

In [54]:
import sys
print('Welcome to','python',sep='**',end='!',file=sys.stdout)
ff = open('D:/Python/bigdata4-2/test1.txt','w')
print('file write', file=ff)
ff.close()

Welcome to**python!

In [55]:
print('{0} is {1}'.format('Apple','red'))
for i in range(1,6):
    print('{1} * {0} = {2}'.format(i,i+1,(i+1)*i))

Apple is red
2 * 1 = 2
3 * 2 = 6
4 * 3 = 12
5 * 4 = 20
6 * 5 = 30

In [57]:
a = input('Insert any keys :')
print(a)
xstr = input('Enter a number: ')
ystr = input('Enter a number: ')
x = int(xstr)
y = int(ystr)
print('The sum of ',x ,' and ', y, ' is ', x+y, '.', sep='' )

Insert any keys :\\
\\
Enter a number: 7
Enter a number: 55
The sum of 7 and 55 is 62.

In [58]:
f = open('D:/Python/bigdata4-2/test2.txt','wt')
f.write('Hi \n Good morning!')
f.close()

In [61]:
f2 = open('D:/Python/bigdata4-2/test2.txt','r')
s = f2.read()
print(s)
s
f2.close()
f2.closed

Hi
 Good morning!

True

In [62]:
actor = 'Richard Gere'
cat = 'Chester'
weight = 28
"My wife's favorite actor is %s" % actor

"My wife's favorite actor is Richard Gere"

In [63]:
"Our cat %s weight %s pounds" % (cat,weight)

'Our cat Chester weight 28 pounds'

In [64]:
n=42
f = 7.03
s = 'string cheese'

In [65]:
'%d %f %s' % (n, f, s)

'42 7.030000 string cheese'

In [66]:
'%10d %10f %10s' % (n, f, s)

'        42   7.030000 string cheese'

In [70]:
'%10d %10f %.10s' % (n, f, s)

'        42   7.030000 string che'

In [69]:
'%-10d %-10f %-.10s' % (n, f, s)

'42         7.030000   string che'

In [71]:
'{0:10d} {1:10f} {2:10s}'.format(n, f, s)

'        42   7.030000 string cheese'

In [72]:
'{0:^10d} {1:^10f} {2:^10s}'.format(n, f, s)

'    42      7.030000  string cheese'

In [73]:
import re
res = re.match('You', 'Young Frankenstein')
res

In [76]:
youpattern = re.compile('You')
res2 = youpattern.match('Young Frankenstein')
res2

In [78]:
import re
source = 'Young Frankenstein'
re.findall('e.?n',source)

['en', 'ein']

In [79]:
m = re.findall('e.?n',source)
m

['en', 'ein']

In [80]:
re.split('n',source)

['You', 'g Fra', 'ke', 'stei', '']

In [81]:
re.sub('n','?',source)

'You?g Fra?ke?stei?'

In [82]:
import string
printable = string.printable
len(printable)
printable[0:50]

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMN'

In [83]:
printable[50:]

'OPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [84]:
re.findall('\d',printable)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [85]:
re.findall('\w',printable)

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '_']

In [86]:
re.findall('\s',printable)

[' ', '\t', '\n', '\r', '\x0b', '\x0c']

In [88]:
source = '''I wish I may, I wish I might
Have a dish of fish tonight.'''
source2 = 'fish tonight!'
re.findall('(?<=I) wish',source)

[' wish', ' wish']

In [89]:
re.findall('I (?=wish)',source)

['I ', 'I ']